<html>
    <head>
        <meta charset="UTF-8"/>
        <!-- Reference Custom Style Sheet-->
        <link rel="stylesheet" href="../css/landing.css">
    </head>

    <body>
        <div class="container">
            <div class="container__item landing-page-container">
                <div class="content__wrapper">

                    <header class="header">

                        <div class="menu-icon header__item">

    

                        </div>

                        <h1 class="heading header__item">OSSU Computer Science</h1>

                    </header>

                    <p class="coords">N 49° 16' 35.173"  /  W 0° 42' 11.30"</p>

                    <div class="ellipses-container">

                        <h2 class="greeting">May The Code Be With You</h2>

                        <div class="ellipses ellipses__outer--thin">

                            <div class="ellipses ellipses__orbit"></div>

                        </div>

                        <div class="ellipses ellipses__outer--thick"></div>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>
